body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand {
    font-weight: 600;
}

footer {
    margin-top: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #343a40;
    color: #fff;
}
